


.selected-seats{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


/* .text {
    text-color: white
} */

#textToChange {
    color:rgb(48, 5, 238);
  }


  .dis{
    display: hidden;
  }